In [1]:
import csv
import numpy as np
import pandas as pd

In [2]:
def clean_ip_file(file_name,old):
    with open(file_name) as input_file:
            reading = csv.reader(input_file)
            
            next(reading)
            
            with open(old,'w') as edited_file:
                csv_writer = csv.writer(edited_file,delimiter =',')
                
                for line in reading:
                    line1 = []
                    for i in line:
                        line1.append(i.replace(',',''))
                    csv_writer.writerow(line1)

In [15]:
df = pd.read_csv('option_data.csv',na_values = '-')

In [9]:
pd.set_option('display.max_columns',23)

In [10]:
df.columns

Index(['CHART', 'OI', 'CHNG IN OI', 'VOLUME', 'IV', 'LTP', 'NET CHNG',
       'BIDQTY', 'BIDPRICE', 'ASKPRICE', 'ASKQTY', 'STRIKE PRICE', 'BIDQTY.1',
       'BIDPRICE.1', 'ASKPRICE.1', 'ASKQTY.1', 'NET CHNG.1', 'LTP.1', 'IV.1',
       'VOLUME.1', 'CHNG IN OI.1', 'OI.1', 'CHART.1'],
      dtype='object')

In [11]:
df

,CHART,OI,CHNG IN OI,VOLUME,IV,LTP,NET CHNG,BIDQTY,BIDPRICE,ASKPRICE,ASKQTY,STRIKE PRICE,BIDQTY.1,BIDPRICE.1,ASKPRICE.1,ASKQTY.1,NET CHNG.1,LTP.1,IV.1,VOLUME.1,CHNG IN OI.1,OI.1,CHART.1
0,NaN,-,-,-,-,-,-,600,"2,818.10","3,114.40","1,200",6100.0,"10,500",0.25,0.35,525,-0.15,0.25,173.96,437,-900,"41,100",NaN
1,NaN,-,-,-,-,-,-,"9,900","2,565.05","3,181.60","11,025",6150.0,-,-,1.50,"6,000",-,-,-,-,-,-,NaN
2,NaN,-,-,-,-,-,-,"9,900","2,509.75","3,124.60","9,900",6200.0,-,-,1.20,"4,500",-,-,-,-,-,-,NaN
3,NaN,-,-,-,-,-,-,"9,900","2,501.80","3,071.45","1,125",6250.0,-,-,1.70,"3,000",-,-,-,-,-,-,NaN
4,NaN,-,-,-,-,-,-,"9,900","2,422.15","3,015.10","1,125",6300.0,-,-,1.10,"2,100",-,-,-,-,-,-,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,NaN,-,-,-,-,-,-,-,-,1.30,"3,000",13450.0,"9,900","4,033.40","4,925.65","9,900",-,-,-,-,-,-,NaN
148,NaN,-,-,76,168.37,0.20,-0.35,150,0.20,0.95,600,13500.0,"9,900","4,075.55","4,968.75","9,900",-,-,-,-,-,-,NaN
149,NaN,-,-,-,-,-,-,-,-,1.30,"3,000",13550.0,"9,900","4,123.65","5,026.65","9,900",-,-,-,-,-,-,NaN
150,NaN,-,-75,1,155.49,0.05,-0.85,900,0.05,1.30,"3,000",13600.0,"9,900","4,169.30","5,081.80","9,900",-,-,-,-,-,-,NaN
151,Total,"12,317,925",NaN,"2,176,209",NaN,"2,096,584",NaN,"9,968,100",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.set_index('STRIKE PRICE',inplace= True)

In [18]:
df.drop(columns= ['CHART','BIDQTY', 'BIDPRICE', 'ASKPRICE', 'ASKQTY','BIDQTY.1',
       'BIDPRICE.1', 'ASKPRICE.1', 'ASKQTY.1','CHART.1'])

,OI,CHNG IN OI,VOLUME,IV,LTP,NET CHNG,NET CHNG.1,LTP.1,IV.1,VOLUME.1,CHNG IN OI.1,OI.1
STRIKE PRICE,,,,,,,,,,,,
6100.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.15,0.25,173.96,437,-900,"41,100"
6150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13450.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13500.0,NaN,NaN,76,168.37,0.20,-0.35,NaN,NaN,NaN,NaN,NaN,NaN
13550.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13600.0,NaN,-75,1,155.49,0.05,-0.85,NaN,NaN,NaN,NaN,NaN,NaN
NaN,"12,317,925",NaN,"2,176,209",NaN,"2,096,584",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def create_df(input_csv_file):
    output_df = pd.read_csv(input_csv_file)
    output_df.set_index('STRIKE PRICE',inplace= True)
    output_df.drop(columns= ['CHART','BIDQTY', 'BIDPRICE', 'ASKPRICE', 'ASKQTY','BIDQTY.1',
       'BIDPRICE.1', 'ASKPRICE.1', 'ASKQTY.1','CHART.1'])