In [1]:
import csv
import numpy as np
import pandas as pd

In [2]:
def clean_ip_file(file_name,old):
    with open(file_name) as input_file:
            reading = csv.reader(input_file)
            
            #next(reading)
            
            with open(old,'w') as edited_file:
                csv_writer = csv.writer(edited_file,delimiter =',')
                
                for line in reading:
                    line1 = []
                    for i in line:
                        line1.append(i.replace(',',''))
                    csv_writer.writerow(line1)

In [3]:
!python Old_nse_website_oi_scrape.py

Underlying Index: NIFTY 9187.30Â

In [4]:
pd.set_option('display.max_columns',23)
pd.set_option('display.max_rows',153)

In [5]:
def create_df(input_csv_file):
    output_df = pd.read_csv(input_csv_file,na_values = '-')
    output_df.set_index('STRIKE PRICE',inplace= True)
    output_df.drop(columns= ['CHART','BIDQTY', 'BIDPRICE', 'ASKPRICE', 'ASKQTY','BIDQTY.1',
       'BIDPRICE.1', 'ASKPRICE.1', 'ASKQTY.1','CHART.1'],inplace = True)
    return output_df

In [6]:
clean_ip_file('option_data.csv','new.csv')

In [7]:
df_new = create_df('new.csv')

In [8]:
df_new.sort_values(by=['CHNG IN OI'],ascending = False).head(3)

,OI,CHNG IN OI,VOLUME,IV,LTP,NET CHNG,NET CHNG.1,LTP.1,IV.1,VOLUME.1,CHNG IN OI.1,OI.1
STRIKE PRICE,,,,,,,,,,,,
9400.0,996300.0,210750.0,329946.0,44.15,15.85,2.20,-224.85,235.85,70.99,3789.0,300.0,54450.0
9600.0,647175.0,90375.0,89577.0,49.92,2.40,-2.05,-237.95,418.20,87.75,176.0,-150.0,17700.0
9350.0,213000.0,37875.0,85585.0,43.56,24.00,5.70,-211.90,199.60,68.27,418.0,-3000.0,8400.0

In [9]:
df_new.sort_values(by=['CHNG IN OI.1'],ascending = False).head(3)

,OI,CHNG IN OI,VOLUME,IV,LTP,NET CHNG,NET CHNG.1,LTP.1,IV.1,VOLUME.1,CHNG IN OI.1,OI.1
STRIKE PRICE,,,,,,,,,,,,
9000.0,644475.0,-287850.0,352876.0,36.91,204.0,95.25,-132.40,21.1,59.09,541127.0,932175.0,1803825.0
9100.0,527175.0,-648450.0,476989.0,40.83,126.6,58.15,-167.10,46.0,58.79,282878.0,655650.0,860250.0
8800.0,75525.0,-12825.0,18859.0,NaN,387.9,161.45,-66.05,5.7,62.48,445815.0,327000.0,1191525.0